body
{
    background-color: antiquewhite;
    width: 70%;
    margin: auto;
}

hr
{
    border-width: 0;
    height: 1px;
    background-color: brown;
}

a:link
{
    color: lightblue;
}
a:hover
{
    color: blue;
}

a:visited
{
    color: rgb(147, 95, 0);
}