body
{
    background-color: antiquewhite;
    width: 70%;
    margin: auto;
    font-family: 'Verdana';
}

hr
{
    border-width: 0;
    height: 1px;
    background-color: brown;
}

dl
{
padding-left: 30px;
}

dt
{
    font-size: 18px;
}

dd
{
    font-style: oblique;
    color: gray;
}
a:link
{
    color: rgb(77, 23, 7);
}

a:hover
{
    color: blue;
}