body
{
    background-color: whitesmoke;
    font-size: 10px;
    font-family: 'Microsoft Yi Baiti';
}

.title
{
    margin: auto;
}

.title h1
{
    font-size: 3.5em;
    color: rgb(39, 39, 39);
    text-align: center;
    font-weight: 200;
}

nav
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3em;
}

nav a
{
    color:rgb(39, 39, 39);
    font-size: 2.5em;
    text-decoration: none;
    transition: 0.5s ease-out;
}

nav a:hover
{
    color: rgb(160, 160, 160);
}

article
{
    width: 100%;
    margin: 10px;
    background-color: whitesmoke;
    box-shadow: 0.5em 0.5em rgb(39, 39, 39);
    border: 0.5px solid rgb(39, 39, 39);
}

#aboutMe
{
    display: flex;
}

#academics
{
    display: flex;
}

.row 
{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.column
{
    flex: 50%;
    max-width: 50%;
}
  
.column img 
{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

#contact
{
    display: flex;
}

#externalLinks
{
    display: flex;
    justify-content: space-evenly;
}

#externalLinks a
{
    width: 100%;
    background-color: rgb(39, 39, 39);
    border: 0.5px solid rgb(39, 39, 39);
    color: whitesmoke;
    text-align: center;
    font-size: 2.5em;
    text-decoration: none;
    transition: 0.5s ease-out;
}

#externalLinks a:hover
{
    background-color: whitesmoke;
    color:rgb(39, 39, 39);
}

h2
{
    font-size: 3.5em;
    color:rgb(39, 39, 39);
}

h3
{
    font-size: 2.75em;
    margin-left: 30px;
    color:rgb(39, 39, 39);
}

h4
{
    font-size: 2em;
    margin-left: 30px;
    color: rgb(79, 79, 79);
}

p
{
    margin-left: 30px;
    color:rgb(39, 39, 39);
    font-size: 2em;
}

ul
{
    list-style: square;
    font-size: 2em;
}

/* MOBILE */
@media (max-width: 500px)
{
    
}