body
{
    margin: auto;
    background-color: whitesmoke;
    font-size: 10px;
    font-family: 'Bahnschrift';
}

.title
{
    font-size: 5em;
}

nav
{
    position: sticky;
    top: 0;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(39, 39, 39);
    border: 1px solid rgb(39, 39, 39);
}

nav a
{
    width: 105vw;
    text-align: center;
    text-decoration: none;
    font-size: 2.0em;
    line-height: 1.5em;
    color: whitesmoke;
    transition: 0.75s ease-out;
}

nav a:hover
{
    background-color: whitesmoke;
    color: rgb(39, 39, 39);
}

h2
{
    font-size: 3.5em;
    color:rgb(39, 39, 39);
}

h3
{
    font-size: 2.75em;
    color:rgb(39, 39, 39);
}

h4
{
    font-size: 2em;
    color: rgb(79, 79, 79);
}

ul
{
    list-style: square;
    font-size: 1.5em;
}

/* DESKTOP */
@media (min-width: 500px)
{

}

/* MOBILE */
@media (max-width: 500px)
{
    
}