body
{
    font-family: 'Baskerville';
    width: 70%;
    margin: auto;
}

.image
{
    margin-bottom: 10px;
}

.display
{
    background-color: rgb(221, 221, 221);
    padding: 5px;
    margin-bottom: 10px;
}

button
{
    background-color: rgb(177, 191, 211);
    margin-bottom: 10px;
}