body
{
    max-width: 70%;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 30px;
}

p
{
    font-size: 20px;
    font-family: 'Bahnschrift';
}

.minus-button
{
    width: 100px;
    position: relative;
    font-family: 'Bahnschrift';
    border-radius: 15%;
}

.plus-button
{
    width: 100px;
    position: relative;
    font-family: 'Bahnschrift';
    border-radius: 15%;
}

.random-button
{
    width: 100px;
    position: relative;
    font-family: 'Bahnschrift';
    border-radius: 15%;
}

.reset-button
{
    width: 100px;
    position: relative;
    font-family: 'Bahnschrift';
    border-radius: 15%;
}
.submit-button
{
    width: 100px;
    position: relative;
    font-family: 'Bahnschrift';
    border-radius: 15%;
}