/* General Styles */

body 
{
    margin: 0;
}
  
html 
{
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
}

.card
{
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
}

/* Provided business card */
.card header
{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
}
  
.card footer
{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
}
  
.card article img
{
    max-height: 100%;
    float: right;
}
  
/* Card Container */
.card article
{
    height: 12em;
    background-color: rgba(0,0,0,0.3);
}

/* Header & Footer */
.card header, footer
{
    height: 3em;
    padding: 1em;
}

/* Main Content */
.card article p
{
    margin: 0;
    color: #ccc;
    padding: 1em;
    padding-top: 2em;
}

.card header h2
{
    margin: 0;
    font-size: 2em;
    line-height: 1.5em;
}

.card footer p
{
    margin: 0;
    font-size: 1.5em;
    line-height: 1.5em;
}


/* Recreated business card */
.myCard
{
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: rgb(240, 240, 240);
    border: 0.2em solid rgb(37, 5, 5);
    border-radius: 1.5em;
}

.myCard header
{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
}
  
.myCard footer
{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
}
  
.myCard article img
{
    max-height: 100%;
    float: right;
}
  
/* Card Container */
.myCard article
{
    height: 12em;
    background-color: rgb(41, 22, 26);
}

/* Header & Footer */
.myCard header, footer
{
    height: 3em;
    padding: 1em;
}

/* Main Content */
.myCard header h2
{
    margin: 0;
    font-size: 2.5em;
    font-family: 'Franklin Gothic';
    line-height: 1.5em;
}

.myCard article p
{
    margin: 0;
    font-family: 'Franklin Gothic';
    color: #ccc;
    font-size: 1.15em;
    padding-top: 1em;
    padding-left: 1em;
}

.myCard footer p
{
    margin: 0;
    font-size: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    line-height: 1.5em;
}