body
{
    font-size: 10px;
}

.main
{
    background-image: url("/img/bird.jpg");
    height: 35.8em;
    width: 54em;
    margin: auto;
}

.overlayTop
{
    position: relative;
    top: 1em;
    left: 1em;
    width: 20em;
    height: 2.5em;
    background-color: rgba(175, 6, 6);
    border: 0.3em solid rgb(59, 0, 0);
}

.overlayTop h1
{
    font-family: 'Verdana';
    font-size: 1em;
    color: white;
    text-align: center;
}

.overlayBottom
{
    position: relative;
    top: 27em;
    height: 2.5em;
    background-color: rgba(175, 6, 6);
    border: 0.3em solid rgb(59, 0, 0);
}

.overlayBottom p
{
    font-family:'Verdana';
    font-size: 1em;
    color: white;
    text-align: center;
}