body 
{
    font-family: 'Bahnschrift';
    width: 350px;
}

label 
{
    font-weight: bold;  
}

div 
{
    padding-bottom: 20px;
}

input[type="text"] 
{
    padding: 5px;
    width: 150px;
}

p 
{
    background: #cfe5ea;
    color: #1a0a27;
    padding: 10px;
    visibility: hidden;
}