#sideScrolly 
{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 3rem;
  margin-bottom: 5rem;
}

#sideScrolly > * 
{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#overlayScrolly
{
  position: relative;
  background-color: rgb(255, 255, 255);
  padding: 3rem;
  margin-bottom: 5rem;
  text-align: center;
  align-items: center;
}

body 
{
  background-color: rgb(255, 255, 255);
  align-items: center;
  text-align: center;
  margin-left: 8rem;
  margin-right: 8rem;
}

#intro
{
    background-color:rgb(70, 86, 97);
}

.intro_head
{
    color: rgb(255, 255, 255);
    font-family: 'Dubai Medium';
    font-size: 70px;
}

#header
{
  color:rgb(255, 255, 255);
  background-color:rgb(70, 86, 97);
  font-family: 'Dubai Medium';
  font-size: 40px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-content: center;
}

#textBody
{
  color:rgb(46, 57, 65);
  font-family: Dubai;
  font-size: 24px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-content: center;
}

article
{
  position: relative;
  background-color:rgb(247, 244, 244);
  max-width: 20rem;
}

.step 
{
  max-width: 20rem;
  background-color:rgb(70, 86, 97);
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
}

.step p
{
  font-family: Dubai;
  color:rgb(255, 255, 255);
  font-size: 24px;
}

.population
{
  position: -webkit-sticky;
  position: sticky;
  margin-left: 1rem;
  top: 0;
  height: 22rem;
}
.global_summary
{
  position: -webkit-sticky;
  position: sticky;
  margin-left: 1rem;
  top: 0;
  height: 22rem;
}

.florida_attacks
{
  position: -webkit-sticky;
  position: sticky;
  margin-left: 1rem;
  top: 0;
  height: 25rem;
}

.population_fl_ca
{
  position: -webkit-sticky;
  position: sticky;
  margin-left: 1rem;
  top: 0;
  height: 25rem;
}

.attacks_fl_ca
{
  position: -webkit-sticky;
  position: sticky;
  margin-left: 1rem;
  top: 0;
  height: 25rem;
}

.ph
{
  position: -webkit-sticky;
  position: sticky;
  margin-left: 1rem;
  margin-bottom: 12rem;
  top: 0;
  height: 30rem;
}

.attack_population_global
{
  position: -webkit-sticky;
  position: sticky;
  margin-left: 1rem;
  margin-bottom: 12rem;
  top: 0;
  height: 30rem;
}