#sideScrolly 
{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 3rem;
  margin-bottom: 5rem;
}

#sideScrolly > * 
{
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#overlayScrolly
{
  position: relative;
  background-color: rgb(255, 255, 255);
  padding: 3rem;
  margin-bottom: 5rem;
}

body 
{
  margin-left: 8rem;
  margin-right: 8rem;
}

#intro
{
    color:rgb(255, 255, 255);
}

.intro_head
{
    color: rgb(70, 86, 97);
    font-family: Georgia;
    font-size: 70px;
}

#header
{
  color:rgb(255, 255, 255);
  background-color:rgb(70, 86, 97);
  font-family: Georgia;
  font-size: 40px;
}

#textBody
{
  color:rgb(46, 57, 65);
  font-family: Georgia;
  font-size: 24px;
  margin-top: 3rem;
}

article
{
  position: relative;
}

.step 
{
  max-width: 20rem;
  background-color:rgb(70, 86, 97);
  padding: 0.5rem;
}

.step p
{
  font-family: Georgia;
  color:rgb(255, 255, 255);
  font-size: 24px;
  text-align: left;
}

.overlay_step
{
  background-color:rgb(68, 61, 82);
  padding: 0.25rem;
}

.overlay_step p
{
  font-family: Georgia;
  color:rgb(255, 255, 255);
  font-size: 24px;
  text-align: left;
}


/* GRAPHS */
.graph
{
  position: -webkit-sticky;
  position: sticky;
  margin-left: 1rem;
  top: 0;
  height: 22rem;
}

.ph
{
  position: -webkit-sticky;
  position: sticky;
  margin-top: 4rem;
  margin-bottom: 9rem;
  margin-left: 1rem;
  top: 0;
  height: 22rem;
}

.aragonite
{
  position: -webkit-sticky;
  position: sticky;
  margin-top: 4rem;
  margin-bottom: 7rem;
  margin-left: 1rem;
  top: 0;
  height: 22rem;
}

/* IMAGES */
.img
{
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  z-index: 0;
  top: 5rem;
  height: 30rem;
  /* Center everything inside */
  display: flex;
  align-items: center;
  justify-content: center;
}