body {
    background-color: rgb(160, 201, 203);
    margin-left: 25rem;
    margin-right: 25rem;
}

section{
    position: relative;
}
 
h1 {
    font-size: 50px;
    text-align: center;
    font-family: Verdana;
    margin-bottom: 3rem;
}

article {
    position: relative;
    text-align: center;
    font-family: Georgia;
    margin-bottom: 7rem;
}

figure {
    background-color: rgb(232, 227, 248);
    text-align: center;
    font-family: Georgia;
    position: sticky;
    top: 0;
}

h2{
    text-align: center;
    font-family: Verdana;
    margin-top: 2rem;
    margin-bottom:2rem;
}