body {
    background-color: white;
    margin-left: 5rem;
    margin-right: 5rem;
}

section{
    display: flex;
    position: relative;
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
 
h1 {
    font-size: 50px;
    text-align: center;
    font-family: Verdana;
    margin-bottom: 3rem;
}

article {
    position: relative;
    text-align: center;
    font-family: Georgia;
    width: 30rem;
    margin-bottom: 7rem;
}

article.filler
{
    background-color: turquoise;
    width: 60rem;
    margin-bottom: 5rem;
}

figure {
    color: black;
    text-align: center;
    font-family: Georgia;
    position: sticky;
    width: 30rem;
    margin-bottom: 7rem;
    top: 0;
}

h2{
    text-align: center;
    font-family: Verdana;
    margin-top: 2rem;
    margin-bottom:2rem;
}