  body 
  {
    background-color: snow;
    align-items: center;
    text-align: center;
    margin-left: 15rem;
    margin-right: 15rem;
  }

  #intro 
  {
    text-align: center;
    margin-bottom: 10rem;
    background-color: rgb(48, 71, 100);
    padding: 1rem;
  }

  .intro__hed 
  {
    font-family: Georgia;
    color:snow;
    font-size: 4em;
  }

  #sideScrolly 
  {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: snow;
    padding: 3rem;
    margin-bottom: 5rem;
  }

  #sideScrolly > * 
  {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  #overlayScrolly
  {
    position: relative;
    background-color: snow;
    padding: 3rem;
    margin-bottom: 5rem;
    text-align: center;
    align-items: center;
  }

  article 
  {
    position: relative;
    background-color:rgb(48, 71, 100);
    padding: 0.5rem;
    max-width: 20rem;
    margin: 10rem;
  }

  .step 
  {
    max-width: 20rem;
    margin-bottom: 10rem;
  }

  .step:last-child 
  {
    margin-bottom: 0;
  }

  .step.is-active 
  {
    background-color: goldenrod;
    color: #3b3b3b;
  }

  .step p 
  {
    color: snow;
    padding: 0.5rem;
    text-align: center;
    font-size: 20px;
  }

  h2 
  {
    font-family: Georgia;
    color: snow;
    font-size: 40px;
  }

  #outro 
  {
    margin-top: 4rem;
    font-family:Georgia;
    text-align: center;
    color:rgb(18, 77, 92);
    font-size: 24px;
    padding: 3rem;
    background-color: snow;
  }

  .pH_Scale 
  {
    position: -webkit-sticky;
    position: sticky;
    width: 5rem;
    padding: 3rem;
    margin-top: 3rem;
    top: 0;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .USA_map 
  {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    padding: 3rem;
    margin-top: 3rem;
    background-color: #4b3030;
    top: 0;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .FLORIDA_map 
  {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    z-index: 0;
    top: 0;
    height: 10rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    align-items:flex-start;
    justify-content: center;
  }

  .AUSTRALIA_map 
  {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    z-index: 0;
    top: 0;
    height: 10rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    align-items: flex-start;
    justify-content: center;
  }

  .SOUTHAFRICA_map 
  {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    z-index: 0;
    top: 0;
    height: 10rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    align-items:flex-start;
    justify-content: center;
  }