  body {
    background-color: rgb(18, 77, 92);
    align-items: center;
    text-align: center;
    margin-left: 15rem;
    margin-right: 15rem;
  }

  #intro {
    text-align: center;
    margin-bottom: 10rem;
    background-color: snow;
    padding: 3rem;
  }
  
  .intro__hed {
    font-family: Georgia;
    color:rgb(14, 57, 68);
    font-size: 3em;
  }
  
  .intro__sub {
    font-family: Georgia;
    color: rgb(42, 98, 124);
  }

  #sideScrolly {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: snow;
    padding: 3rem;
    margin-bottom: 5rem;
  }

  #sideScrolly > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  #overlayScrolly{
    position: relative;
    background-color: snow;
    padding: 3rem;
    margin-bottom: 5rem;
    text-align: center;
    align-items: center;
  }

  article {
    position: relative;
    padding: 3rem;
    max-width: 40rem;
  }

  h2 {
    font-family: Georgia;
    color: rgb(42, 98, 124);
    font-size: 40px;
  }

  p {
    font-family: Georgia;
    color: rgb(94, 107, 106);
    font-size: 24px;
  }

  .pH_Scale {
    position: -webkit-sticky;
    position: sticky;
    width: 5rem;
    padding: 3rem;
    margin-top: 3rem;
    background-color: #178665;
    top: 0;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .USA_map {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    padding: 3rem;
    margin-top: 3rem;
    background-color: #4b3030;
    top: 0;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .FLORIDA_map {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    z-index: 0;
    top: 0;
    height: 10rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    align-items:flex-start;
    justify-content: center;
  }

  .AUSTRALIA_map {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    z-index: 0;
    top: 0;
    height: 10rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    align-items: flex-start;
    justify-content: center;
  }

  .SOUTHAFRICA_map {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    z-index: 0;
    top: 0;
    height: 10rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    align-items:flex-start;
    justify-content: center;
  }

  .step {
    margin: 0 auto 2rem auto;
    color: rgb(31, 46, 75);
  }

  .step:last-child {
    margin-bottom: 0;
  }

  .step.is-active {
    background-color: goldenrod;
    color: #3b3b3b;
  }

  .step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
  }
  
  #outro {
    margin-top: 4rem;
    font-family:Georgia;
    text-align: center;
    color:rgb(18, 77, 92);
    font-size: 24px;
    padding: 3rem;
    background-color: snow;
  }