body{
    background-color: olive;
}

#flex-parent{
    display:flex;
    background-color: orangered;
}
#flex-parent p{
    padding:5vw;
}

#grid-parent{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#grid-parent h1
{
    background-color: grey;
    padding:3vw 5vh;
    margin:5vw;
}

#no0
{
    position: relative;
    text-align: center;
    left: 100%;
}
#no1
{
    position: relative;
    text-align: center;
}

#no2
{
    position: relative;
    text-align: center;
}

#no3
{
    position: relative;
    text-align: center;
}

#no4
{
    position: relative;
    text-align: center;
}

#no5
{
    position: relative;
    text-align: center;
}

#no6
{
    position: relative;
    text-align: center;
}

#no7
{
    position: relative;
    text-align: center;
}

#no8
{
    position: relative;
    text-align: center;
}

#no9
{
    position: relative;
    text-align: center;
}
