body
{
    font-family: 'Yu Gothic';
    margin-left: 2.5em;
    margin-right: 2.5em;
    text-align: right;
    color: rgb(65, 65, 65);
    background-color: snow;
}

.header
{
    display: flex;
    justify-content: space-between;
}

.name
{
    font-weight: 100;
    font-style: italic;
}

.dark-mode
{
    background-color: rgb(65, 65, 65);
    color: snow;
}

form, p
{
    text-align: center;
}

h1
{
    font-size: 37px;
    text-align: center;
    font-family: 'Garamond';
    margin-bottom: 1em;
}

button, #convertButton
{
    font-family: 'Century Gothic';
    background-color:rgb(238, 220, 208);
    border: 1px solid rgb(65, 65, 65);
    height: 25px;
}

#initialCurrency, #finalCurrency, #amount
{
    font-family: 'Century Gothic';
    height: 25px;
    background-color: snow;
    border: 1px solid rgb(65, 65, 65);
    margin-left: 5px;
    margin-right: 5px;
}

span
{
    font-family: 'Century Gothic';
}